/LLM-Model/predictions.tsv
/LLM-Model/predictions.csv
/LLM-Model/predictions.txt

/LLM-Model/train.txt
/LLM-Model/train.csv
/LLM-Model/train.tsv

/LLM-Model/spoiler.txt
/LLM-Model/spoiler.tsv
/LLM-Model/spoiler.csv

/LLM-Model/preprocessed_data.csv
/LLM-Model/preprocessed_data.txt
/LLM-Model/preprocessed_data.tsv

/.vscode
/LLM-Model/__pycache__
/llm-connect-db/__pycache__

/llm-connect-db/node_modules

/llm-connect-db/predictions.tsv
/llm-connect-db/predictions.csv
/llm-connect-db/predictions.txt

/llm-connect-db/train.txt
/llm-connect-db/train.csv
/llm-connect-db/train.tsv

/llm-connect-db/spoiler.txt
/llm-connect-db/spoiler.tsv
/llm-connect-db/spoiler.csv

/llm-connect-db/preprocessed_data.csv
/llm-connect-db/preprocessed_data.txt
/llm-connect-db/preprocessed_data.tsv

/Flask-Backend/env