@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  overflow: hidden;
}


body {
  
    /* width: 100%; */
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  overflow-y: hidden;
  overflow-x: hidden;
  width: 450px;
  height: 450px;
  /* padding: 50px; */
  /* padding-top: 100px; */
  /* padding-bottom: 65px; */
  background: linear-gradient(
    to bottom,
    #1d1d1d,
    #181818
  ); /* Dark gradient background */
  color: white; /* Font color */
  font-family: "Poppins", sans-serif; /* Font family */
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

/* body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
} */

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  margin-top: 100px;
  width: 100%;/* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  position: relative;
  padding-top: 100%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {

  /* padding-bottom: 100px; */
  /* margin-top: 160px; */
  /* max-height: 600px; */
  align-self: center;
  /* margin: 10%; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {

  width: 100%;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
}

.carousel__slide:nth-child(even) {
  background-color: rgb(20, 20, 20);
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  /* margin-top: 20px; */
  /* padding-top: 60px; */
  /* padding-bottom: 20px; */
  
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  /* margin-top: 300px; */
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ff5858;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  /* margin: 20px; */
  /* margin-top: 150px; */
  position: absolute;
   /* top: 70%; */
  right: 20px;
  background-color: transparent;

  top: 0;
  margin-top: 60%;
  width: 4rem;
  height: 30rem;
  transform: translateY(-50%);
  /* border-radius: 50%; */
  font-size: 0;
  outline: 0;
  z-index: 10;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
  margin-top: 240px
  /* display: hidden; */
  
  /* position: relative; */
}



.carousel::after,
.carousel__next {
  margin-top: 240px;
  right: -1rem;
  /* display: hidden; */
}

.carousel::before,
.carousel::after {
  content: '';
  transform: translatey(-100%, -100%);
  /* margin-top: 100px; */
  z-index: 1;
  background-color: transparent ;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  /* line-height: 4rem; */
  text-align: center;
  pointer-events: none;
}

#carousel__prev:hover, #carousel__next:hover {
  
  background-color: #ff5858;
 
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.spoiler-content {
  background-color: grey;
  color: grey;
  filter: blur(8px);
  
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 14px;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(60px);
  transition: ease-in-out 0.3s;
}

.card:hover::before {
  transform: rotate(-90deg);
}

.container {
position: relative;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background: rgba(29, 31, 32, 0.904)
    radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);

  background-size: 11px 11px;
}

.logo {
  position: absolute;
  top: 7px;
  left: 30%;
  width: 170px; /* Decreased size */
  height: auto; /* Maintain aspect ratio */
}

#checkbox {
  display: none;
}

.slider {
  display: block;
  margin: auto;
  /* Rest of your styles */
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Rest of your styles */
}
.switch {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(255, 255, 255) inset;
}

.switch svg {
  width: 1.2em;
}

.switch svg path {
  fill: rgb(255, 255, 255);
}

#checkbox:checked + .switch {
  box-shadow: 0px 0px 1px rgb(218, 64, 73) inset,
    0px 0px 2px rgb(218, 64, 73) inset, 0px 0px 10px rgb(218, 64, 73) inset,
    0px 0px 40px rgb(218, 64, 73), 0px 0px 100px rgb(218, 64, 73),
    0px 0px 5px rgb(218, 64, 73);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(238, 135, 152);
}

#checkbox:checked + .switch svg {
  filter: drop-shadow(0px 0px 5px rgb(218, 64, 73));
}

/*______Social Media______*/
.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  transform: translatey(10px);
  background: #414141;
}

.social-media a {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  color: #ff5858;
  transform: translatex(25px) translateY(20px);
  width: 20px;
  fill: currentColor;
}

.social-media {
  position: absolute;
  bottom: 110px;
  left: 44%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center; /* Add this line to center the icons horizontally */
}

.social-media a {
  margin-right: 50px; /* Increase the value to increase the space between icons */
  text-decoration: none;
  color: inherit;
}

/*______Settings Section______*/
#settingsSection {
  display: none;
  /* Add your styles for the settings section here */
}

#spoilerCount {

  position: absolute;
  top: calc(10% + 20px); /* Adjust the value to position it below the switch */
  left: 50%;
  transform: translateX(-50%);

  text-align: center;
  color: #fff;
  font-size: 60px;
}

p {
  position: absolute;
  top: calc(30% + 150px); /* Adjust the value to position it below the switch */
  left: 50%;
  width: 100;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}

/* body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none} */



.login-wrap {
  max-height: 100px;
  overflow-y: hidden;
  max-height: 50%;
  /* height: 70%; */
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 570px;
  position: relative;
  background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
  background-size: cover; /* Adjust the background size to cover the container */
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:50px 70px 50px 70px;
	background:rgba(48, 48, 48, 0.9);
}

.sign-in-htm{
  margin-top: 50px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
  padding-top: 10px;

	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#ff5858;
}
.login-form{
	min-height:355px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#ff5858;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#ff5858;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

/* .hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
} */
.foot-lnk{
	text-align:center;
}

/*
    Auther: Abdelrhman Said
*/


button {
  margin-top: 310px;
  appearance: none;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-weight: 500;
  line-height: 1;
  padding: 1em 1.5em;
  position: relative;
  transition: filter var(--motion-duration);
}

button:hover {
  filter: brightness(1.1);
}

button:active {
  filter: brightness(0.9);
}

button > span {
  display: block;
  position: relative;
  transition: transform var(--motion-duration) var(--motion-ease);
  z-index: 1;
}

button:hover > span {
  transform: scale(1.05);
}

button:active > span {
  transform: scale(0.95);
}

button > svg {
  fill: #ff5858;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
}

button > svg > path {
  transition: var(--motion-duration) var(--motion-ease);
}

button:hover > svg > path {
  d: path("M0,0 C0,-5 100,-5 100,0 C105,0 105,100 100,100 C100,105 0,105 0,100 C-5,100 -5,0 0,0");
}

button:active > svg > path {
  d: path("M0,0 C30,10 70,10 100,0 C95,30 95,70 100,100 C70,90 30,90 0,100 C5,70 5,30 0,0");
}


.spoiler-counter{
  background-color: #333;
  border-radius: 10px;
  z-index: 11;
}



ul {
  list-style: none; 
  margin: 0px;
  padding: 0px; 
}

.tareas {
  width: 300px;
  height: 400px; /* Added 'px' unit */
  position: absolute;
  top: 10%;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}

input[type=checkbox] {
  display: none;
}

.tarea-item label {
  background: #202020;
  height: 69px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #ff5858;
  color: white;
  font-size: 11px;
  font-weight: 900;
  cursor: pointer;
  text-transform: capitalize; 
  letter-spacing: 1px;
  position: relative;
  padding: 5px 5px 5px 70px;
  box-sizing: border-box;
}

.tarea-item label h2 span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #ffffff;
}

.tarea-item label:before {
  content: "";
  width: 19px;
  height: 19px;
  border: 1px solid #ff5858;
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 100%; 
  z-index: 99999;
}

.tarea-item label:after {
  content: "";
  width: 60px;
  height: 68px;
  background: #414141;
  position: absolute;
  left: 0px;
  top: 0px;
}

#tarea-1:checked + label,
#tarea-2:checked + label,
#tarea-3:checked + label,
#tarea-4:checked + label,
#tarea-5:checked + label {
  color: #ffffff;
  background: #ff5858;
  border-bottom: 2px solid #ff5858;
}

#tarea-1:checked + label h2 span,
#tarea-2:checked + label h2 span,
#tarea-3:checked + label h2 span,
#tarea-4:checked + label h2 span,
#tarea-5:checked + label h2 span {
  color: #ffffff;   
}

#tarea-1:checked + label:before,
#tarea-2:checked + label:before,
#tarea-3:checked + label:before,
#tarea-4:checked + label:before,
#tarea-5:checked + label:before {
  background-color: #ff5858;
  border: 2px solid white;
}

.tarea-item:first-child label {
  border-right: 8px solid #ff5858;
}

.tarea-item:nth-child(2) label {
  border-right: 8px solid #ff5858;
}

.tarea-item:nth-child(3) label {
  border-right: 8px solid #ff5858;
}

.tarea-item:nth-child(4) label {
  border-right: 8px solid #ff5858;
}

.tarea-item:last-child label {
  border-right: 8px solid #ff5858;
}


.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}

#webpage {
  transform: translateX(-1px);
  width: calc(100% - 5px);
  z-index: 2010;
  overflow: hidden;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

#webpage::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}